*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    margin: 0;
    text-align: center;
    letter-spacing: 4px;
    box-shadow: 0px 8px 8px 4px rgba(0, 0, 0, .9);
}

h1 {
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 700;
    font-size: 50px;
    color:#F5B451;
    background-color: rgba(0, 0, 0, .9);
    padding: 15px;
    margin: 0;
}

#table {
    height: 60vh;
    width: 60vw;
    margin-top: 7vh;
    background-color: rgba(51, 11, 28, .9);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 5px;
    box-shadow: 1px 1px 11px 9px rgba(17, 3, 9, 0.9);
}

.card-container {
margin-top: 3vh;
}

#dealer-card-wrapper {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pot {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-btns {
    grid-row: 2/3;
}

.btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chip-bank {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player-card-wrapper {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-sum, #dealer-sum {
    justify-content: right;
    color: #e2e0e2;
    font-size: 4vmin;
    margin-left: 10px;
}

.chip {
    height: 70px;
    width: 70px;
    background-color: #e2e0e2;
    border-radius: 50%;
    border: 2px dashed #191718;
    font-size: 22px;
    color: #191718;
}

#bank-chip {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pot-chip {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #480448;
    background-color: rgba(233, 181, 94, .95);
    padding: 22px;
    margin-top: 5vh;
    margin-bottom: 0;
    font-size: 4vmin;
    font-family: 'Poiret One', cursive;
    border-radius: 3px;
}

.hidden {
    display: none;
}

#bank-text {
    color: #fff5ea;
    font-size: 20px;
}

.button {
    font-size: 2vmin;
    font-weight: bold;
    color: rgb(45, 8, 23);
    background-color: #F5B451;
    border: none;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0px 0px 2px 2px #F5B451;
}

.button:focus {
    outline: 0;
}
