*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/Users/lyndsayramberg/Desktop/FEWD/code/Blackjack/css/images);
    background-size: 100%;
    background-position: center;
}

header {
    font-family: 
}

#table {
    height: 60vh;
    width: 85vh;
    background-color: rgba(51, 11, 28, .9);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#dealer {
    grid-column: span 3;
}

#pot {
    grid-column: 2/3;
}

#chip-bank {
    grid-row: 3/4;
    grid-column: 1/2;
}

#player {
    grid-column: span 2;
}

.chip {
    height: 100px;
    width: 100px;
    background-color: gold;
    border-radius: 50%;
}

#bank-chip {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pot-chip {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #FCBB3A;
}

.hidden {
    display: none;
}

#bank-text {
    color: gold;
    font-size: 20px;
}

/* font-family: 'Poiret One', cursive;
font-family: 'Limelight', cursive;
font-family: 'Diplomata SC', cursive;
font-family: 'Gruppo', cursive;
font-family: 'Codystar', cursive;
font-family: 'Notable', sans-serif; */